{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1>Add New Code</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ codeform.title.label_tag }} {{ codeform.title }} {% if
      codeform.title.errors %}
      <div class="alert alert-danger">{{ codeform.title.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ codeform.code_lang.label_tag }} {{ codeform.code_lang }} {% if
      codeform.code_lang.errors %}
      <div class="alert alert-danger">{{ codeform.code_lang.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ codeform.codes.label_tag }} {{ codeform.codes }} {% if
      codeform.codes.errors %}
      <div class="alert alert-danger">{{ codeform.codes.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ codeform.description.label_tag }} {{ codeform.description }} {% if
      codeform.description.errors %}
      <div class="alert alert-danger">{{ codeform.description.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ codeform.type_code.label_tag }} {{ codeform.type_code }} {% if
      codeform.type_code.errors %}
      <div class="alert alert-danger">{{ codeform.type_code.errors }}</div>
      {% endif %}
    </div>
    <div class="form-group">
      {{ codeform.image.label_tag }} {{ codeform.image }} {% if
      codeform.image.errors %}
      <div class="alert alert-danger">{{ codeform.image.errors }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Add Code</button>
  </form>
</div>
{% endblock %}
